html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family:  "Ubuntu"
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

nav {
  display: flex;
    margin: 10px auto 80px;
    padding: 10px 0;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid grey;
}
nav .logo {
  margin-right: auto;
  font-weight: bold;
}

.logo h1 {
  margin : 0px
}

nav .links {
  margin-left: auto;
}

.links a {
margin-left: 10px;
}

.footer {
  display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid black;
}

.footer p {
  margin : 10px
}

.content {
  min-height: 700px;
}

.notFound {
  text-align: center;
}

.notFound h1 {
  font-size:40px;
}

.notFound p {
  font-size: 20px;
}

.notFound a {
  color:darkblue;
  font-size: 20px;
}